  <header>

    <nav>
      <button class="login">Login</button>
      <button class="signup">Signup</button>
      <button class="logout">Log Out</button>
    </nav>

    <form action="/login" method="post">
      <input type="email" name="user[email]" placeholder="email@example.com" />
      <input type="password" name="user[password]" placeholder="password" />
      <button type="submit">Submit</button>
    </form>

  </header>
<footer>
  <ul>
    <li>Copywright &copy;. Alex Ray, Michael Malchak, Chris Malin, Eric Dykstra</li>
  </ul>
</footer>