  <header>
    <nav>
      <button class="login">Login</button>
      <button class="signup">Signup</button>
    </nav>
    <form class="login" action="/login" method="post">
      <input type="email" name="user[email]" />
      <input type="password" name="user[password]" />
      <button type="submit">Submit</button>
    </form>
  </header>

<footer>
  <ul>
    <li>Copywright &copy;. Alex Ray, Michael Malchak, Chris Malin, Eric Dykstra</li>
  </ul>
</footer>